.text--center {
    text-align: center !important;
}

.text--left {
    text-align: left !important;
}

.text--right {
    text-align: right !important;
}

.text--bold {
    font-weight: bold !important;
}

.text--light {
    font-weight: 300 !important;
}

.text--underline {
    text-decoration: underline !important;
}

.text--no-underline {
    text-decoration: none !important;
}

.text--uppercase {
    text-transform: uppercase !important;
}

.text--strikethrough {
    text-decoration: line-through !important;
}
