$font-size: 16px !default;
$font-family: "Helvetica Neue", Arial, Sans-serif !default;
$font-dir: "../fonts/" !default;
$line-height: 26px !default;

$heading-size-1: 36px !default;
$heading-size-2: 24px !default;
$heading-size-3: 18px !default;
$heading-size-4: 16px !default;
$heading-size-5: 14px !default;
$heading-size-6: 12px !default;

$heading-font-weight: 500 !default;
